<div class="title">
  <label>Suggested routes</label>
</div>
<div class="selected-route-info">
  <label>Selected route: Route {{selectedIndex+1}}</label>
</div>
<div id="routes">
  <div *ngFor="let route of routes; index as i" (click) = "changeRoute(i)">
    <div class="row route" [class.selected]="selectedIndex==i">
      <div class="col-2 estimated-time">
          <span>{{route.estimatedTime}}</span>
          <span>min</span>
      </div>
      <div class="col-10 activities">
        <div *ngFor="let activity of route.activities; index as ri" class="activity">
          <div *ngIf="activity.type==1" class="walking-route">
            <img src="../../assets/images/walking.svg">
            <label>{{activity.estimatedTime}}m</label>
          </div>
          <div *ngIf="activity.type==2" class="bus-route">
            <img src="../../assets/images/bus.svg">
            <label>#{{activity.busNumber}}</label>
          </div>
          <label *ngIf="ri<route.activities.length-1" class="arrow">></label>
        </div>
      </div>
    </div>
  </div>
</div>