@import '../../variables.scss';

img {
	height: 24px;
}
.title {
	background-color: #F8F8F8;
	text-align: center;
	font-size: 24px;
	color: $main-color;
	padding: 10px 0;
}
.route {
	padding: 20px 0 20px 10px;
	border-bottom: 1px solid $border-color;
	color: #404040;
	margin: 0;
}
#routes > div:hover {
	background-color:#eaeaea;
	cursor: pointer;
}
.selected {
  background-color: #DBE1F5;
}
.estimated-time {
	display: grid;
	text-align: center;
	font-size: 20px;
	margin: auto;
}
.activities {
	margin: auto;
}
.activity {
	display: inline-flex;
}
.bus-route {
	border: 1px solid $border-color;
	border-bottom: 5px solid $bus-color;
	border-radius: 5px;
	height: 30px;
	margin: 5px;
	padding: 0 5px;
}
.walking-route {
	border: 1px solid $border-color;
	border-bottom: 5px solid $walking-color;
	border-radius: 5px;
	height: 30px;
	margin: 5px;
	padding: 0 5px;
}
.arrow {
	padding: 8px 0;
}
.selected-route-info {
	text-align: center;
	font-size: 16px;
	color: $main-color;
}